<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verify Email</title>
  </head>
  <body>
    <h3>Hi {{name}},</h3>
    <p>Thanks for signing up to Echo. Click the button below to verify your
      email:</p>
    <p><a href='{{action_url}}'>Verify my email</a></p>
    <p>If you didn't sign up, ignore this email.</p>
    <p>Support: {{support_email}}</p>
  </body>
</html>